body{
	font-family: 'Roboto', 'Verdana', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	min-width: 1200px;
}
a{
	text-decoration: none;
	text-transform: uppercase;
}
.visually-hidden{
	visibility: hidden;
	margin: -1px;
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
}
.container{
	width: 1200px;
	margin: 0 auto;
}
.main-header{
	background-color: #eeeeee;
	min-width: 1250px;
}
.main-navigation{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 1200px;
	margin: auto;
}
.main-header-logo{
	width: 160px;
	height: 65px;
	margin: 50px 200px 0 20px;
}
.site-navigation{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	min-width: 440px;
	margin: 78px 245px 0 0;
	padding: 0;
	font-weight: 500;
	list-style: none;
}
.site-navigation a,
.header-cart a{
	color: #000000;
	font-weight: 500;
}
.site-navigation a:hover,
.header-cart a:hover,
.site-navigation a:focus,
.header-cart a:focus{
	color: #fb565a;
}
.site-navigation a:active,
.header-cart a:active{
	color: rgba(0, 0, 0, 0.3);
}
.current{
	border-bottom: 2px solid #e74246;
	padding-bottom: 10px;
}
.header-cart{
	background: url(../img/cart-icon.svg) no-repeat 0 3px;
	margin: 79px 0 0 0;
	padding-left: 40px;
}
.carousel {
	width: 1200px;
	height: 423px;
	margin: 0 auto;
	position: relative;
	width: 1200px;
	padding-left: 20px;
	padding-top: 7px;
}
.slider {
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
}
.carousel > input {
	display: none;
}
.slides {
	height: inherit;
	position: absolute;
	width: inherit;
	top: 0;
	right: 0;
	-webkit-transform: scale(0);
	        transform: scale(0);
	-webkit-transition: .4s;
	transition: .4s;
}
.slides p{
	margin-top: 70px;
	line-height: 1;
	max-width: 550px;
}
.slides p+p{
	margin-top: 28px;
	line-height: 1.4;
	margin-bottom: 55px;
}
.slides span{
	font-weight: 500;
	font-size: 55px;
}
.button{
	text-decoration: none;
	color: #ffffff;
	background-color: #fb565a;
	padding: 15px 55px; 
	border-radius: 3px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
}
.button:hover,
.button:focus{
	background-color: #e74246;
}
.button:active{
	background-color: #d7373b;
	color: #e37376;
}
.slide1 { 
	background: url(../img/slide1.png) no-repeat;
	background-position: 431px 10px; }
.slide2 { 
	background: url(../img/slide2.png) no-repeat; 
	background-position: 431px 10px;
}
.slide3 { 
	background: url(../img/slide3.png) no-repeat;
	background-position: 431px 10px;
}
.carousel .controls {
	position: absolute;
	bottom: 90px;
	left: 545px;
	z-index: 10;
}
.carousel label {
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	height: 18px;
	width: 18px;
	background-color: #fff;
	margin: 0 0 0 13px;
	position: relative;
	border-radius: 50%;
}
.carousel label:after {
	position: absolute;
	content: " ";
	height: 4px;
	width: 4px;
	left: 5px;	
	top: 5px;
	border-radius: 50%;
	opacity: 0;
}
.slide1:checked ~ .slider > .slide1,
.slide2:checked ~ .slider > .slide2,
.slide3:checked ~ .slider > .slide3
{
	-webkit-transform: scale(1);
	        transform: scale(1);
	z-index: 2;
}
.slide1:checked ~ .controls label:nth-of-type(1):after,
.slide2:checked ~ .controls label:nth-of-type(2):after,
.slide3:checked ~ .controls label:nth-of-type(3):after {
	opacity: 1;
	border: 2px solid silver;
}
.advantages{
	margin-left: 20px;
}
.flex-box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 1100px;
}
.box{
	width: 300px;
	margin-top: 80px;
}
.box-sites{
	background: url(../img/illustration-1.png) no-repeat;
}
.box-attachments{
	background: url(../img/illustration-2.png) no-repeat;
}
.box-presentations{
	background: url(../img/illustration-3.png) no-repeat;
}
.box h3{
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	margin: 174px 0 20px 0;
	max-width: 300px;
}
.box p{
	margin: 0 0 45px 0;
	max-width: 300px;
	color: #283136;
}
.button-order-red,
.button-order-green,
.button-order-yellow{
	padding: 15px 40px;
}
.button-order-red{
	background-color: #fb565a;
}
.button-order-red:hover,
.button-order-red:focus{
	background-color: #e74246;
}
.button-order-red:active{
	color: rgba(255, 255, 255, 0.3);
	background-color: #d7373b;
}
.button-order-green{
	background-color: #00ca74;
}
.button-order-green:hover,
.button-order-green:focus{
	background-color: #00bc6c;
}
.button-order-green:active{
	background-color: #00aa62;
	color: rgba(255, 255, 255, 0.3);
}
.button-order-yellow{
	background-color: #efc84a;
}
.button-order-yellow:hover,
.button-order-yellow:focus{
	background-color: #eab534;
}
.button-order-yellow:active{
	background-color: #e5a722;
	color: rgba(255, 255, 255, 0.3);
}
.advantages hr{
	border: 1px solid #eeeeee;
	width: 1160px;
	margin: 0;
	padding: 0;
	margin: 92px 0 0 0;
}
.studio{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 70px;
}
.about-us{
	width: 660px;
	margin-left: 20px;
}
.about-us p{
	margin: 75px 0 0 0;
}
.about-us p+p{
	margin: 33px 0 0 0;
	color: #283136;
}
.about-us span{
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}
.about-us h3{
	text-transform: uppercase;
	font-size: 16px;
	margin: 38px 0 0 0;
}
.about-us ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.about-us li{
	background: url(../img/marker.png) no-repeat left center;
	padding-left: 35px;
	color: #283136;
	margin-top: 25px;
}
.progress{
	background: url(../img/nerds-illustration.png) no-repeat 0px 0px;
	width: 380px;
	margin: 40px 0 0 0;
}
.progress-table{
	margin: 245px 0 0 0;
}
.progress-table caption{
	text-align: left;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 16px;
	margin-left: 17px;
}
.progress-table .percent{
	padding-top: 25px;
	font-weight: 700;
	font-size: 45px;
	height: 70px;
}
.percent{
	width: 100px;
}
.title{
	width: 120px;
}
.percent sup{
	font-size: 27px;
}
.percent:last-of-type{
	padding-left: 5px;
}
.progress-table .title{
	line-height: 18px;
	padding-top: 5px;
}
.title:last-of-type{
	padding-left: 5px;
}
hr{
	border: 1px solid #eeeeee;
	width: 1160px;
	margin: 0;
	padding: 0;
}
hr~hr{
	margin-bottom: 80px;
}
.partners{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	margin-bottom: 18px;
}
.partners li{
	position: relative;
	margin-bottom: 20px;
}
.partners li:first-child{
	margin-top: 46px;
	margin-left: 10px;
}
.partners li:nth-child(2){
	margin-left: 99px;
	margin-top: 30px;
}
.partners li:nth-child(3){
	margin-left: 101px;
	margin-top: 50px;
}
.partners li:last-child{
	margin-left: 120px;
	margin-top: 35px;
}
.partners .line-1{
	border-right: 2px solid #eeeeee;
	height: 50px;
	position: absolute;
	top: 20px;
	left: -50px;
}
.partners .line-2{
	border-right: 2px solid #eeeeee;
	height: 50px;
	position: absolute;
	top: 0px;
	left: -59px;
}
.partners .line-3{
	border-right: 2px solid #eeeeee;
	height: 50px;
	position: absolute;
	top: 10px;
	left: -64px;
}
.partners a{
	opacity: 0.2;
}
.partners a:hover,
.partners a:focus{
	opacity: 1;
}
.partners a:active{
	opacity: 0.1;
}
.partners a{
	opacity: 0.2;
}
.partners a:hover,
.partners a:focus{
	opacity: 1;
}
.partners a:active{
	opacity: 0.1;
}
.contacts iframe{
	width: 100%;
	height: 416px;
}
.contacts{
	min-width: 1250px;
	background: url(../img/contacts.jpg) no-repeat;
	background-size: cover;
	max-height: 416px;
	position: relative;
	margin-bottom: 7px;
}
.center{
	width: 1200px;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}
.contacts-card{
	background-color: #ffffff;
	width: 270px;
	min-height: 270px;
	padding: 37px 0 0 50px;
	margin: 53px 0 0 20px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.contacts-card h3{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	color: black;
	margin: 15px 0 27px 0;
	max-width: 210px;
}
.contacts-card p{
	color: #666666;
	margin-right: 60px;
	line-height: 18px;
	max-width: 210px;
}
.contacts-button{
	margin: 22px 0 20px 0;
	display: inline-block;
	vertical-align: top;
	padding: 13px 45px;
	cursor: pointer;
}
.main-footer{
	width: 1200px;
	height: 217px;
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.footer-social{
	padding: 0;
	margin: 60px 0 0 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
}
.footer-social a{
	display: inline-block;
	width: 79px;
	height: 79px;
	background-color: #e1e1e1;
	border-radius: 50%;
	cursor: pointer;
	margin-right: 11px;
}
.footer-social a:hover,
.footer-social a:focus{
	background-color: #e74246;
}
.footer-social a:active{
	background-color: #d7373b;
}
.social-vk{
	background: url(../img/vk-icon.svg) no-repeat center center;
}
.social-fb{
	background: url(../img/fb-icon.svg) no-repeat center center;
}
.social-insta{
	background: url(../img/insta-icon.svg) no-repeat center center;
}
.social-vk:active{
	background: url(../img/vk-icon.png) no-repeat center center;
}
.social-fb:active{
	background: url(../img/fb-icon.png) no-repeat center center;
}
.social-insta:active{
	background: url(../img/insta-icon.png) no-repeat center center;
}

.main-footer p{
	margin: 70px 0 0 130px;
	font-size: 16px;
	line-height: 36px;
	color: #444444;
	max-width: 640px;
}
.main-footer span{
	font-size: 36px;
	font-weight: 700;
	color: black;
}
/* popup */
.write-us-hidden{
	width: 960px;
	height: 590px;
	-webkit-box-shadow: 0 10px 40px 0px #888888;
	        box-shadow: 0 10px 40px 0px #888888;
	background-color: #ffffff;
	z-index: 100;
	margin: auto;
	position: relative;
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
.active{
	display: block;
	-webkit-animation: mymove .3s;
	        animation: mymove .3s;
}
.error{
	-webkit-animation: shake 0.6s;
	        animation: shake 0.6s;
}
@-webkit-keyframes mymove {
	0%		{top: -2500px;}
	100%	{top: 0px;}
}
@keyframes mymove {
	0%		{top: -2500px;}
	100%	{top: 0px;}
}
.modal-close{
	background: url(../img/close-cross.svg) no-repeat;
	width: 30px;
	height: 30px;
}
.write-us-hidden h3{
	font-size: 45px;
	font-weight: 500;
	padding: 74px 0 0px 100px;
}
.write-us-hidden span{
	position: absolute;
	top: 50px;
	right: 50px;
}
.form-write-us{
	margin-left: 100px;
}
.form-write-us label{
	display: block;
	font-weight: 700;
}
.form-write-us input{
	width: 350px;
	height: 50px;
	border: 2px solid rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.5);
	padding-left: 10px;
}
.form-write-us p{
	display: inline-block;
}
.form-write-us p+p{
	margin-left: 40px;
}
.form-write-us textarea{
	width: 758px;
	height: 110px;
	border: 2px solid rgba(0, 0, 0, 0.1);
	resize: none;
	color: rgba(0, 0, 0, 0.5);
	padding: 10px 0 0 10px;
	margin: 0 0 50px 0;
}
.button-submit{
	width: 260px;
	height: 50px;
	border: none;
	margin-top: 50px;
}
/* Стилизуем каталог */
.header-title{
	text-align: center;
	font-size: 55px;
	font-weight: 500;
	margin: auto;
	padding: 92px 0 124px 0;
}
.filter{
	width: 300px;
	margin-left: 20px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}
.filter legend{
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 60px 0 0 0;
}
.filter fieldset{
	border: none;
}
.filter-servises{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
/* Стилизуем ползунок */
.filter-item{
	margin: 0;
	padding: 0; 
	border: none;  
	width: 260px;
}
.range-filter{
	width: 260px;
	margin-top: 49px;
}
.range-controls{
	position: relative; 
	height: 41px;
	margin-bottom: 15px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px; 
	background-color: #f1f1f1; 
	border-radius: 5px;
}
.range-controls .scale{
	height: 2px;
	background: #d7dcde;
}
.range-controls .bar{
	width: 70%;
	height: 2px;
	background: #00ca74;
}
.range-controls .toggle{
	position: absolute;
	top: 31px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid #ffffff;
	background-color: #ababab;
	-webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
	        box-shadow: 0 2px 1px 0 #cfcfcf;
	border-radius: 50%;
	cursor: pointer;
}
.range-controls .toggle-min{
	left: 10px;
}
.range-controls .toggle-max{
	left: 160px;
}
.price-controls{
	font-size: 0;
}
.price-controls label{
	display: inline-block;
	width: 50%;
	font-size: 16px;
	text-transform: uppercase;
}
.price-controls input{
	width: 60px;
	padding: 8px 10px;
	margin-left: 10px;
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	text-align: center;
	color: #283136;
	border: none;
	border-radius: 5px;
	background: #f1f1f1;
}
.max-price{
	text-align: right;
}
.filter-grid{
	margin: 0;
	padding: 0;
}
.filter-grid label{
	display: block;
	margin-top: 18px;
	cursor: pointer;
}
.filter-grid label:last-of-type{
	margin-top: 7px;
}
.filter input[type="radio"]{
	display: none;
	position: relative;
}
.radio{
	background: url(../img/radio-off.svg) no-repeat;
	width: 25px;
	height: 25px;
	position: absolute;
	opacity: 0.6;
}
.radio:hover,
.radio:focus{
	opacity: 1;
}
.radio:before{
	content: '';
	background: url(../img/radio-on.svg) no-repeat;
	width: 25px;
	height: 25px;
	position: absolute;
	-webkit-transform: scale(0);
	        transform: scale(0);
}
.filter input:checked + .radio:before{
	-webkit-transform: scale(1);
	        transform: scale(1);
}
.filter span{
	display: inline-block;
	vertical-align: top;
	margin-left: 40px;
	color: #283136;
	font-size: 16px;
	line-height: 2;
	opacity: 0.9;
}
.filter-features {
	margin: 0;
	padding: 0;
}
.filter-features legend{
	margin: 0;
	padding: 20px 0 18px 0;
}
.filter-features label{
	display: block;
	margin-bottom: 9px;
	cursor: pointer;
}
.filter input[type="checkbox"]{
	display: none;
}
.checkbox{
	background: url(../img/checkbox-off.svg) no-repeat;
	width: 25px;
	height: 25px;
	position: absolute;
	opacity: 0.6;
	cursor: pointer;
}
.checkbox:hover{
	opacity: 1;
}
.checkbox:before{
	content: '';
	background: url(../img/checkbox-on.svg) no-repeat;
	width: 25px;
	height: 25px;
	position: absolute;
	-webkit-transform: scale(0);
	        transform: scale(0);
}
.filter input:checked + .checkbox:before{
	-webkit-transform: scale(1);
	        transform: scale(1);
}
.filter a{
	background-color: #eeeeee;
	text-decoration: none;
	color: black;
}
.button-grey{
	margin-top: 25px;
	padding: 14px 90px;
	font-weight: 500;
	width: 80px;
}
.button-grey:hover,
.button-grey:focus{
	background-color: #dfdfdf;
}
.button-grey:active{
	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.3);
	border-top: 2px solid silver; 
}
.catalog{
	width: 800px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.sorting-wrapper{
	width: 360px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-left: 265px;
	margin-top: 55px;
}
.sorting-title{
	text-transform: uppercase;
	font-size: 18px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	font-weight: 700;
	vertical-align: top;
	margin-top: 55px;
	margin-left: 38px;
}
.sorting{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.sorting ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	list-style: none;
	padding: 0;
	margin: 0;
}
.sorting-items{
	width: 270px;
	padding: 0;
}
.sorting a{
	text-transform: uppercase;
	text-decoration: none;
	color: black;
	font-size: 14px;
	opacity: 0.3;
}
.sorting a:hover,
.sorting a:focus{
	opacity: 0.7;
}
.sorting a:active{
	opacity: 1;
}
.sorting-buttons{
	width: 40px;
	padding: 0;
	margin: 0;
}
.sorting-buttons .button-down{
	display: inline-block;
	content: "";
	background: url(../img/icon-down-dir.svg) no-repeat;
	width: 11px;
	height: 10px;
}
.sorting-buttons .button-up{
	display: inline-block;
	content: "";
	background: url(../img/icon-up-dir.svg) no-repeat;
	width: 11px;
	height: 10px;
}
.catalog{
	display: inline-block;
	vertical-align: top;
	width: 800px;
	margin-left: 57px;
}
.catalog-list{
	list-style: none;
	margin: 52px 0 0 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.catalog-item{
	width: 360px;
	position: relative;
	margin: 0 0 26px 0;
}
.catalog-item-decoration{
	background: url(../img/browser.svg) no-repeat;
	height: 40px;
	width: 360px;
	opacity: 0.3;
}
.catalog-link{
	color: #666666;
}
.catalog-link h3{
	color: black;
	text-transform: uppercase;
	font-size: 18px;
	margin-top: 35px
}
.button-buy{
	border: none;
	margin: 10px 0 50px 0;
	cursor: pointer;
}
.catalog-link:hover .catalog-item-decoration{
	opacity: 1;
}
.item-info{
	width: 360px;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	-webkit-transform: scale(0);
	        transform: scale(0);
	-webkit-transition: .4s;
	transition: .4s;
	background-color: #eeeeee;
}
.catalog-link:hover  .item-info{
	-webkit-transform: scale(1);
	        transform: scale(1);
}

.catalog-item:hover .item-info{
	-webkit-transform: scale(1);
	        transform: scale(1);
}
.pagination-list{
	margin: 40px 0 73px 40px;
	padding: 0;
}
.pagination-item{
	display: inline-block;
	vertical-align: top;
}
.pagination-item a{
	padding: 15px 20px;
	cursor: pointer;
	background-color: #eeeeee;
	border-radius: 5px;
	color: #000000;
	font-weight: 500;
	margin-right: 7px;
}
.pagination-item a:hover,
.pagination-item a:focus{
	background-color: #dfdfdf;
}
.pagination-item a:active{
	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.2);
	border-top: 2px solid silver;
}
.pagination-item-current a,
.pagination-item-current a:hover{
	background-color: #ffffff;
	border: 4px solid #eeeeee;
	padding: 11px 16px;
	border-radius: 3px;
}
.pagination-item-next a{
	padding: 15px 80px;
}